.listSection {
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.abstract {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 1.6rem;
}

.abstract p {
    color: var(--secondary-text);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: 26rem;
    min-width: 22rem;
    padding: 1.6rem 1.2rem;
    border-radius: 24px;
    border: solid 1px var(--color-border);
    background-color: var(--color-surface);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
    min-height: 0;
    padding: 1px;
    margin: 5px;
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    text-align: left;
    padding: 0.6rem 0.9rem;
    margin: 3px 10px 3px 3px;
    border-radius: 10px;
    border: solid 1px var(--color-border);
    background-color: var(--color-bg);
    color: var(--color-text);
    cursor: pointer;
    font-size: var(--secondary-font-size);
}

.notSelected:hover {
    background-color: var(--color-tenary);
}

.selected {
    outline-offset: 2px;
    outline: solid 2px var(--color-accent);
    font-weight: bold;
}

.iconBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.iconBox button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: var(--secondary-text);
    cursor: pointer;
    padding: 3px;
}

.iconBox button:hover {
    color: var(--color-accent);
}

.addBtn {
    background-color: var(--color-accent);
    color: var(--color-text);
    font-weight: bold;
    border: solid 1px var(--color-border);
    border-radius: 12px;
    padding: 1rem 8.4rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.addBtn:hover {
    transform: scale(102%);
}
