@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --color-bg: #17181c;
  --color-surface: #1e2025;
  --color-text: #e9eaed;
  --secondary-text: #9fa1a3;
  --color-border: #393e3e;
  --color-accent: #a06bff;
  --color-danger: #f85149;

  --font-family: 'Geist';
  --font-size: 16px;
  --secondary-font-size: 14px;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-surface: #f5f4f0;
  --color-text: #1a1a18;
  --secondary-text: #9fa1a3;
  --color-border: #6b6a66;
  --color-accent: #a06bff;
  --color-danger: #e5484d;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  width: 100%;
  min-height: 100vh;
}

.mainAuth {

}

.toolbar {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.selectServer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var(--color-accent);
  background-color: var(--color-surface);
  backdrop-filter: blur(4px);
  border: solid 1px var(--color-border);
  cursor: pointer;
  padding: 5px;
}

.mainApp {

}
