@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --color-bg: #17181c;
    --color-surface: #1e2025;
    --color-tenary: #25262c;
    --color-text: #e9eaed;
    --color-text-white: #e9eaed;
    --secondary-text: #aeb1b3;
    --color-border: #393e3e;
    --color-danger: #f85149;
    --shadow: rgba(0, 0, 0, 0.5);

    --color-accent: #9563ed;
    --color-accent-50: rgba(149, 99, 237, 0.5);
    --font-family: 'Geist';
    --font-size: 16px;
    --secondary-font-size: 14px;
    --tenary-font-size: 12px;
}

[data-theme="light"] {
    --color-bg: #f1f1f1;
    --color-surface: #e3e3e3;
    --color-tenary: #f8f8f8;
    --color-text: #1a1a18;
    --secondary-text: #4a4a4a;
    --color-border: #acaba3;
    --color-danger: #e5484d;
    --shadow: rgba(0, 0, 0, 0.5);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family), Arial, Helvetica, sans-serif;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    width: 100%;
    min-height: 100vh;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.selectServerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: var(--font-size);
    background-color: var(--color-bg);
    backdrop-filter: blur(4px);
    border: solid 2px var(--color-border);
    cursor: pointer;
    padding: 5px 5px 5px 12px;
    gap: 4px;
    height: 2.9rem;
}

.selectServerBtn:hover {
    background-color: var(--color-tenary);
    outline: 2px solid var(--color-accent-50);
    border: 2px solid var(--color-accent);
}

.textNoServer {
    color: var(--color-danger);
    padding-right: 8px;
}

.textServer {
    color: var(--color-text);
}

.pre {
    color: var(--color-accent);
}

.toolBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: var(--secondary-text);
    background-color: var(--color-bg);
    backdrop-filter: blur(4px);
    border: solid 2px var(--color-border);
    cursor: pointer;
    padding: 0.6rem;
}

.toolBtn:hover {
    background-color: var(--color-tenary);
    outline: 2px solid var(--color-accent-50);
    border: 2px solid var(--color-accent);
}
