.passwordWrapper {
    position: relative;
    display: flex;
}

.passwordWrapper input {
    width: 100%;
    padding-right: 2.8rem;
}

.eyeBtn {
    position: absolute;
    place-content: center;
    top: 0.6rem;
    right: 1rem;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    color: var(--secondary-text);
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.eyeBtn:hover {
    color: var(--color-text);
}